

.logo {
	position: absolute;
	top:	198px;
	left: 410px;
	width: 272px;
}

.formcell {
	position: absolute;
	top: 300px;
	left: 285px;
	width: 510px;
	height: 150px;
}
.searchbar {

	position: absolute;
	height: 35px;
	width: 488px;
	top: 20px;
	left: 16px;
	border: 1px solid #d9d9d9;

}

.microphone {
	display: block;
	position: absolute;
	height: 35px;
	width: 40px;
	top: 22px;
	right: 10px;
	z-index: +1;
}

.search, .lucky {
	display: block;
	font-size: 13px;
	font-family: arial, sans-serif;
	font-weight: bold;
	height: 36px;
	text-align: center;
	padding: 30px, 30px;
	color: #757575;
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 2px;
}

.search {
	position: absolute;
	top: 93px;
	left:	122px;
	width: 125px;
}

.lucky {
	position: absolute;
	top: 93px;
	right: 112px;
	width: 141px;
}





